body{color: rgb(255, 255, 255);
            background-color: rgb(24, 24, 87); 
            border: 1px solid rgb(238, 230, 2);
        padding: 10px;
        font-size:xx-large;
    word-spacing: 0cqmax;
line-height: 1.5;

li{
    list-style: armenian;
}